<div class="page-header">
  <h1>Heymilo</h1>
</div>
<div ng-repeat="product in products">
  <a href="#/products/{{product._id}}">
    상품이름 : {{ product.name }}<br />
    별점 : {{ product.star }}<br />
    리뷰갯수 : {{ product.reviewCount }}<br />
    가격 : {{ product.price }}<br />
  </a>
  <hr />
</div>
<form ng-show="isLoggedIn()" ng-submit="addProduct()" style="margin-top: 30px;">
  <h3>상품추가</h3>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="상품이름" ng-model="name"></input>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="상품가격" ng-model="price"></input>
  </div>
  <button type="submit" class="btn btn-primary">상품추가</button>
</form>
